# file

#########################################################################
#                                                                       #
#       Title         - .gitignore file                                 #
#       For           - iOS - Xcode                                    #
#                                                                       #
#########################################################################

## Nextcloud
*.xcodeproj
!Souvera.xcodeproj
Documentation/
Custom/
GoogleService-Info.plist
DevicePushKey-Info.plist
iOSClient/Brand/Device*

## Signing secrets (never commit certificates/keys)
*.p12
*.cer
*.mobileprovision
AuthKey*.p8
*.p8

## Fastlane
fastlane/report.xml
fastlane/README.md
fastlane/.env
fastlane/*.log
vendor/bundle/
.bundle/

## Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout

## Package
Carthage/

### SwiftPackageManager ###
.swiftpm
Package.resolved

*.generated.swift
/.env-vars
